PROMPT 0
TIMEOUT 90
DEFAULT /boot/isolinux/vesamenu.c32
FONT /boot/myfont.psf

MENU BACKGROUND /boot/back.png
#color light-blue/blue black/light-grey
#splashimage=/boot/archlive.xpm.gz

MENU WIDTH 60
MENU MARGIN 0
MENU ROWS 4
MENU HELPMSGROW 50
MENU TIMEOUTROW 2
MENU TABMSGROW 44
MENU CMDLINEROW 24
MENU HSHIFT 2
MENU VSHIFT 2

	menu color screen	37;40      #ffffffff #00000000 none
	menu color border	30;44      #00000000 #00000000 none
	menu color title	1;36;44    #f01291a9 #00000000 none
	menu color unsel	37;44      #e01291a9 #00000000 none
	menu color hotkey	1;37;44    #e060CA00 #00000000 none
	menu color sel		7;37;40    #e0712704 #20ff8000 all
	menu color hotsel	1;7;37;40  #e0400000 #20ff8000 all
	menu color disabled	1;30;44    #60cccccc #00000000 none
	menu color scrollbar	30;44      #40000000 #00000000 std
	menu color tabmsg	31;40      #9060CA00 #00000000 none
	menu color cmdmark	1;36;40    #c000ffff #00000000 std
	menu color cmdline	37;40      #c0ffffff #00000000 none
	menu color pwdborder	30;47      #80ffffff #20ffffff std
	menu color pwdheader	31;47      #80ff8080 #20ffffff std
	menu color pwdentry	30;47      #c0ffffff #20ffffff std
	menu color timeout_msg	37;40      #e060CA00 #00000000 none
	menu color timeout	1;37;40    #f060CA00 #00000000 none
	menu color help		37;40      #c0ffffff #00000000 none
	menu color msg07	37;40      #90ffffff #00000000 none

MENU AUTOBOOT # ÄÅÇÉÑÖÜáàâÜá
MENU TABMSG äã [TAB] åçéèêëíì

#MENU TITLE Carbon îïArchliveñóòôöõúùûü†°WINDOWS

LABEL startx
MENU LABEL Archlive ¢£§•¶ß®©
MENU INDENT 4
KERNEL /carbon/boot/vmlinuz26
APPEND initrd=/carbon/boot/carbon.img elevator=deadline ramdisk_size=60% aufs vga=791 from=carbon
TEXT HELP
					™´¨≠ÆØroot∞±≤≥¥µ∂∑Xfce-devel∏π∫ª
					∞±≤≥ºΩ: arch	æø¿¡: arch   ∞±≤≥ºΩ: root	æø¿¡: archlive
ENDTEXT

LABEL failsafe
MENU LABEL Archlive ¬√ƒ≈¶ß®©
MENU INDENT 4
KERNEL /carbon/boot/vmlinuz26
APPEND initrd=/carbon/boot/carbon.img elevator=deadline ramdisk_size=60% aufs acpi=off noapic pci=bios from=carbon
TEXT HELP
					∞±≤≥ºΩ: arch	æø¿¡: arch
					∞±≤≥ºΩ: root	æø¿¡: archlive
ENDTEXT

LABEL pe
MENU LABEL àâÜáWinPE
MENU INDENT 4
KERNEL /boot/isope.bin
TEXT HELP
					Windowsîï∆«ÇÉ»… À
ENDTEXT

LABEL grldr
MENU LABEL àâÜáGRUB4DOSÃÕŒœ 
MENU INDENT 4
KERNEL  /boot/grldrcd.bin
TEXT HELP
				  –—“”‘’ÆØ÷◊∂∑GRUBÿŸ⁄€¶ß®©
ENDTEXT

MENU SEPARATOR

LABEL memtest86
MENU LABEL ‹›ﬁﬂ‡·‚„
#MENU LABEL Memory Checking
MENU INDENT 4
KERNEL /boot/isolinux/mt86p

MENU LABEL ‰ÂÊÁËÈàâÜá 
MENU INDENT 4
KERNEL /boot/isolinux/chain.c32 hd0

LABEL REBOOT
MENU LABEL ÍÎÏÌàâÜá   
MENU INDENT 4
KERNEL /boot/isolinux/reboot.c32
