PROMPT 0
TIMEOUT 90
DEFAULT vesamenu.c32
FONT myfont.psf

MENU BACKGROUND /boot/back.png
#color light-blue/blue black/light-grey
#splashimage=/boot/archlive.xpm.gz
MENU WIDTH 0
MENU MARGIN 0
MENU ROWS 16
MENU HELPMSGROW 19
MENU TIMEOUTROW 23
MENU TABMSGROW 25
MENU CMDLINEROW 16
MENU HSHIFT 10
MENU VSHIFT 4

	menu color screen	37;40      #ffffffff #00000000 none
	menu color border	30;44      #00000000 #00000000 none
	menu color title	1;36;44    #f01291a9 #00000000 none
	menu color unsel	37;44      #e01291a9 #00000000 none
	menu color hotkey	1;37;44    #e060CA00 #00000000 none
	#menu color sel		7;37;40    #e0712704 #20ff8000 all
	menu color sel		37;40      #c0ffffff #00000000 none
	menu color hotsel	1;7;37;40  #e0400000 #20ff8000 all
	menu color disabled	1;30;44    #60cccccc #00000000 none
	menu color scrollbar	30;44      #40000000 #00000000 std
	menu color tabmsg	31;40      #9060CA00 #00000000 none
	menu color cmdmark	1;36;40    #c000ffff #00000000 std
	menu color cmdline	37;40      #c0ffffff #00000000 none
	menu color pwdborder	30;47      #80ffffff #20ffffff std
	menu color pwdheader	31;47      #80ff8080 #20ffffff std
	menu color pwdentry	30;47      #c0ffffff #20ffffff std
	menu color timeout_msg	37;40      #e060CA00 #00000000 none
	menu color timeout	1;37;40    #f060CA00 #00000000 none
	menu color help		37;40      #c0ffffff #00000000 none
	menu color msg07	37;40      #90ffffff #00000000 none
	
MENU AUTOBOOT # 秒后自动启动
MENU TABMSG 按 [TAB] 编辑选项

#MENU TITLE Carbon 的Archlive系统助你抛开WINDOWS

LABEL startx
MENU LABEL Archlive 常规模式                                 [01]
MENU INDENT 1
KERNEL /carbon/boot/vmlinuz26
APPEND initrd=/carbon/boot/carbon.img elevator=deadline ramdisk_size=60% aufs vga=791 from=carbon
TEXT HELP
				以root用户登入Xfce-devel桌面
				用户名: arch	密码: arch
				用户名: root	密码: archlive
ENDTEXT

#MENU SEPARATOR

LABEL failsafe
MENU LABEL Archlive 安全模式                                 [02]
MENU INDENT 1
KERNEL /carbon/boot/vmlinuz26
APPEND initrd=/carbon/boot/carbon.img elevator=deadline ramdisk_size=60% aufs acpi=off noapic pci=bios from=carbon
TEXT HELP
				用户名: arch	密码: arch
				用户名: root	密码: archlive
ENDTEXT

MENU SEPARATOR

LABEL pe
MENU LABEL 启动WinPE                                         [03]
MENU INDENT 1
KERNEL /boot/isope.bin
TEXT HELP
				Windows的最后阵地
ENDTEXT

#MENU SEPARATOR

LABEL pe
MENU LABEL 加载USB2.0驱动后启动WinPE                         [04]
MENU INDENT 1
KERNEL /boot/isope.bin
TEXT HELP
				适合于老主板+新U盘
ENDTEXT

MENU SEPARATOR

LABEL grldr
MENU LABEL 启动GRUB4DOS菜单                                  [05]
MENU INDENT 1
KERNEL  /boot/grldrcd.bin
TEXT HELP
				GRUB启动菜单及命令行模式
ENDTEXT

MENU SEPARATOR

LABEL memtest86
MENU LABEL 内存检查                                          [06]
#MENU LABEL Memory Checking
MENU INDENT 1
KERNEL /boot/isolinux/mt86p

#MENU SEPARATOR

MENU LABEL 从硬盘启动                                        [07]
MENU INDENT 1
KERNEL /boot/isolinux/chain.c32 hd0

#MENU SEPARATOR

LABEL REBOOT
MENU LABEL 重新启动                                          [08]
MENU INDENT 1
KERNEL /boot/isolinux/reboot.c32